/*GENERAL*/

body {
  background-color: #649374;
  font-family: Fjalla, sans-serif;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 34px;
  margin-top: 5px;
}

h3 {
  margin: 14px 0 14px;
}

.container {
  background-color: #FFFF9D;
  max-width: 550px;
  margin: 0 auto;
  padding: 12% 0;
  box-shadow: 2px 2px 25px rgba(0,0,0,0.4);
}

.row {
  margin-bottom: 16px;
}

.last-scorer {
  color: limegreen;
}

/*ROW 1*/

button {
  background-color: #79BD8F;
  font-size: 14px;
  width: 90px;
  height: 50px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin: 0 8px;
}

button:hover {
  background-color: #BEEB9F;
  border: 3px solid #79BD8F;
  cursor:pointer;
}

/*ROW 2*/

#reset-btn {
  background-color: #D58875;
}

#reset-btn:hover {
  background-color: #FC9479;
  border: 3px solid #E16D51;
}

button:disabled,
#reset-btn:disabled {
  background-color: #CCCCCC;
  border: none;
  cursor: auto;
}

/*ROW 3*/

label {
  font-size: 14px;
}

#target-score-input {
  background-color: #BEEB9F;
  height: 18px;
  width: 35px;
  line-height: 18px;
  font-size: 13px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #79BD8F;
  margin-left: 3px;
}

#target-score-input:disabled {
  background-color: #D3D3D3;
}
